build/nvs_partition_gen
build/esptool
build/kflash
build/gen_esp32part
dist
m5stack-*
node_modules
yarn.lock
deps/tool/serial/tools/__pycache__/
deps/tool/esptool/__pycache__/
deps/tool/esptool/targets/__pycache__/
deps/tool/intelhex/__pycache__/
deps/tool/serial/__pycache__/